@font-face {
  font-family: "Routhem";
  src: url("/fonts/Routhem.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bespax";
  src: url("/fonts/Bespax.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
